@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS เพิ่มเติมสำหรับซ่อน Scrollbar ถ้าต้องการ */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
